<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Ключ запрашивается на сайте https://api-ip.fssprus.ru/ и остается действующим 1 калдендарный год с момента выдачи-->
    <add key="_token" value="youKey"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.net>
    <defaultProxy enabled="true">
      <!--<proxy proxyaddress="http://proxy-dev.vdkn.loc:3128" bypassonlocal="True"/>-->
    </defaultProxy>
  </system.net>
</configuration>
